@mixin breakpoint{
    @media screen and (max-width:900px){
        @content;
    }
}

html{
    font-size: 100%;
}

img{
    max-width: 100%;
}

.content{
    max-width: 1200px;
    padding: 0 20px;
    margin: 100px auto;

    .title{
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 80px;
    }

    .flex{
        display: flex;

        @include breakpoint{
            flex-direction: column;
        }
    }

    .left{
        width: 40%;

        @include breakpoint{
            width: 100%;
            padding-bottom: 12px;
        }
    }

    .right{
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        width: 60%;

        @include breakpoint{
            width: 100%;
        }
    }

    li{
        width: calc(100% / 3);
        padding-left: 12px;
        list-style: none;

        @include breakpoint{
            width: 50%;
            padding: 0 0 12px 0;

            &:nth-child(odd){
                padding-right: 6px;
            }

            &:nth-child(even){
                padding-left: 6px;
            }
        }
    }
}